<div class="header">
  <%= render "shared/header" %>
</div>

<div class="main">
  <div class="side-bar">
    <%= render "shared/side_bar" %>
  </div>

  <div class="top-page">
    <div class="topic">
      <p>みんなの記録</p>
    </div>
    <div class="pedometers">
      <% @pedometers.each do |pedometer| %>
        <div id="pedometer_<%= pedometer.id %>" class="pedometer">
          <%= render 'pedometer', pedometer: pedometer %>
        </div>
      <% end %>
    </div>
  </div>
</div>