<div class="header">
  <%= render "shared/header" %>
</div>

<div class="wrapper">
  <div class="side-bar">
    <%= render "shared/side_bar" %>
  </div>

  <div class="top-page">
    <%= render "shared/top_page" %>
  </div>
</div>