.header-upper {
  display: flex;
  justify-content: space-between;
}

.title {
  color: hsl(205, 84%, 48%);
  font-size: 36px;
  margin-top: 10px;
  margin-left: 20px;
}

.account-button {
  margin-top: 10px;
  margin-right: 20px;
}

.post{
  width: 150px;
  padding: 10px;
  border: 1px solid white;
  background-color: orange;
  color: white;
  text-decoration: none;
  text-align: center;
  float: right;
  margin-bottom: 10px;
  margin-right: 20px;
}

.header-lower {
  display: flex;
  justify-content: space-between;
}

.mypage {
  margin-bottom: 10px;
  margin-left: 20px;
}

.target-steps {
  margin-bottom: 10px;
  font-size: 20px;
}

.record {
  margin-bottom: 10px;
  margin-right: 10px;
}

.post2{
  width: 150px;
  padding: 10px;
  border: 1px solid white;
  background-color: blue;
  color: white;
  text-decoration: none;
  text-align: center;
  margin-bottom: 10px;
  margin-right: 20px;
}

