<div class="header">
  <%= render "shared/header" %>
</div>

<div class="wrapper">
  <div class="side-bar">
    <%= render "shared/side_bar" %>
  </div>

  <div class="top-page">
    <div class="topic">
      <p><%= @user.nickname %>さんの記録</p>
    </div>
  </div>
</div>