<div class="side-bar-header">
  <div class="header-name">
    <%= link_to current_user.nickname, "/" %>
  </div>
  <div class="create-room">
    <%= link_to "コミュニティを作成する", new_community_path %>
  </div>
</div>

<div class="rooms">
  <% current_user.communities.each do |community|%>
    <div class="room">
      <div class="room-name">
        <%= link_to community.name, "/" %>
      </div>
    </div>
  <% end %>
</div>