* {
  box-sizing: border-box;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url("top_page.jpg"); 
  background-size: cover;
  background-origin: padding-box;
  background-position: bottom;
}

.header {
  background-color: #DFFFD6;
  opacity: 0.9;
  width: 100vw;
  height: 100px;
}

.main {
  display: flex;
  height: calc(100vh - 100px);
}
.side-bar {
  background-color: #F3FFE1;
  opacity: 0.9;
  width: 200px;
  padding: 10px;
  position: relative;
}
.top-page {
  width: calc(100vw - 200px);
  overflow: scroll;
}

.my-page {
  width: calc(100vw - 200px);
  background-color: azure; 
  background-size: cover;
  background-origin: padding-box;
  background-position: bottom;
}

h2{
  text-align: center;
}

.topic {
  padding: 0.5em 1em;
  margin: 1em 0;
  color: #FFF;
  background: #6eb7ff;
  border-bottom: solid 6px #3f87ce;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  text-align: center;
}

.pedometer{
  height:100px;
  width: 50vw;
  background-color: #d6ebff;;
  opacity: 0.8;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: dashed 2px white;
  padding: 0.2em 0.5em;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 0px 10px #d6ebff;
}

.upper-layer {
  display: flex;
}

.pedometer-nickname {
  font-size: 20px;
  border: 1px;
  padding: 2px;
  background-color: #DFFFD6;
  margin-right: 20px;
}

.middle-layer {
  display: flex;
}

.pedometer-condition{
  font-size: 16px;
}

.pedometer-date{
  font-size: 16px;
  font-weight: bold;
  margin-right: 20px;
}

.pedometer-number_of_steps {
  font-size: 16px;
}

.post2{
  width: 150px;
  padding: 10px;
  border: 1px solid white;
  background-color: blue;
  color: white;
  text-decoration: none;
  text-align: center;
  margin-bottom: 10px;
  margin-right: 20px;
}

.messages{
  width: calc(100vw - 200px);
  height: calc(100vh - 100px - 70px);
  padding: 0 40px;
  background-color: #FAFAFA;
  overflow: scroll;
}

.message {
  margin: 10px 0 0 0;
}

.upper-message{
  display: flex;
}

.message-user {
  color: #434a54;
  font-size: 16px;
}

.message-date {
  color: #999;
  font-size: 12px;
  padding-left: 10px;
}

.lower-message {
  margin-top: 10px;
}

.message-content {
  color: #434a54;
  font-size: 14px;
  margin-bottom: 40px;
}

.form {
  background-color: #F3FFE1;
  height: 70px;
  padding: 20px 40px;
  display: flex;
}

.form-input {
  background-color: white;
  display: flex;
  width: 100%;
}

.form-message {
  border: none;
  height: 30px;
  width: 100%;
  padding-left: 10px;
}

.form-submit {
  background-color: #38AEF0;
  border: none;
  color: white;
  font-size: 16px;
  height: 30px;
  margin-left: 15px;
  padding: 0 20px;
  cursor: pointer;
  cursor: hand;
}
