* {
  box-sizing: border-box;
}

.header {
  background-color: #DFFFD6;
  width: 100vw;
  height: 100px;
}

.wrapper {
  display: flex;
  height: calc(100vh - 100px);
}
.side-bar {
  background-color: #F3FFE1;
  width: 200px;
}
.top-page {
  width: calc(100vw - 200px);
  background-image: url("top_page.jpg"); 
  background-size: cover;
  background-origin: padding-box;
  background-position: bottom;
}