.pedometer-box {
  height:800px;
  background-image: url("top_page.jpg"); 
  background-size: cover;
  background-origin: padding-box;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.date {
  height: 30px;
  width: 300px;
  margin: 20px;
}

.number_of_steps {
  height: 30px;
  width: 300px;
  resize:none;
  margin-bottom: 20px;
}

.condition-select{
  height: 30px;
  width: 250px;
}

.btn {
  width: 200px;
  margin-top: 20px;
  padding: 15px;
  border: 1px solid white;
  background-color: blue;
  color: white;
}