<div class='upper-layer'>
  <div class="community-name">
    <%= community.name %>
  </div>
  <% if user_signed_in? %>
  <% end %>
</div>
<div class="middle-layer">
  <div class="community-detail">
    <%= community.detail %>
  </div>
</div>