<div class='wrapper'>
  <div class="header">
    <%= render "shared/header" %>
  </div>

  <div class="main">
    <div class="side-bar">
      <%= render "shared/side_bar" %>
    </div>

    <div class='community-form'>
      <div class="topic">
        <p>コミュニティを編集する</p>
      </div>
      <%= render "form" %>
    </div>
  </div>
</div>